<<mjml lang="it">
  <mj-head>
    <mj-title>{{> headerTitle}}</mj-title>
    <mj-font name="Titillium Sans Pro" href="https://selfcare.pagopa.it/assets/font/selfhostedfonts.css" />
    <mj-attributes>
      <mj-all font-family="Titillium Sans Pro, system-ui, sans-serif" />
    </mj-attributes>
    <mj-raw>
      <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
      <meta name="color-scheme" content="light dark">
      <meta name="supported-color-schemes" content="light dark">
    </mj-raw>
  </mj-head>
  <mj-body css-class="mail-body">
    <mj-include path="../../styles/style.css" type="css" />
    <mj-wrapper>
      <mj-section css-class="header" padding-bottom="0px">
        <mj-column>
          <!-- pagoPA Logo -->
          <mj-include path="../../partials/header-logo.mjml" />
          <!-- Title & Main Message -->
          <mj-text css-class="title" font-weight="bold" align="left" padding-bottom="24px">
            <h1 style="font-size: 32px; line-height: 40px; margin: 0;">
              {{> headerTitle}}
            </h1>
          </mj-text>
          <mj-spacer height="8px" css-class="spacer" />
          <mj-text css-class="text" font-size="16px" line-height="24px" font-weight="regular" align="left"
            padding-bottom="8px" padding-top="0px">
            <p>
              Il tuo pagamento &egrave; andato a buon fine. La ricevuta &egrave; in allegato a questa e-mail.
            </p>
          </mj-text>
        </mj-column>
      </mj-section>

      {{> transactionSubject}}

      <!-- Divider -->
      <mj-include path="../../partials/divider.mjml" />

      <!-- Transaction Detail -->
      {{> transactionDetail}}

      <!-- Divider -->
      <mj-include path="../../partials/divider.mjml" />

      <!-- Footer -->
      <mj-include path="../../partials/footer.mjml" />
    </mj-wrapper>
  </mj-body>
  </mjml>